.root{
	-fx-font-size: 12;
	-fx-font-family: Tahoma,dialog;
	-fx-background-color: #eeeeee;
}
.debug{
	-fx-border-color: red; 
	-fx-border-width: 0.5px; 
	-fx-border-style: dotted;
}
.inset{
	-fx-padding: 10,10,10,10;
}
